body {
    background-image: url("reglas-fondo.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}
li {
    font-size: 30px;
    text-align: center;
    color: rgb(6, 7, 19);
    
}


h1 {
    text-align: center;
    color: darkslategray;
}

div {
    border: 10px groove;
    background-color: rgba(119, 136, 153, 0.85);
    width: 700px;
    margin: auto;
    padding: 20px;
}
