body {
    background-image: url("reglas-fondo.png");
    background-repeat: no-repeat;
    background-size: 70% auto;
    background-position: center;
}

li {
    font-size: 30px;
    text-align: center;
    color: rgb(6, 7, 19);
    
}


h1 {
    text-align: center;
    color: darkslategray;
}

div {
border: 10px;
border-style: groove;
background-color: lightslategrey;
height: auto;
width: 700px;
}
