body {
    background-image: url(https://us.123rf.com/450wm/golfmerrymaker/golfmerrymaker2308/golfmerrymaker230800379/211179388-drizzle-rainy-day-in-autumn-background-and-wallpaper-generative-ai.jpg);
background-repeat: no-repeat;
}

li {
    font-size: 30px;
    text-align: center;
    color: rgb(6, 7, 19);
    
}


h1 {
    text-align: center;
    color: darkslategray;
}

div {
border: 10px;
border-style: groove;
background-color: lightslategrey;
height: auto;
width: 700px;
}
